name: Deploy Frontend

on:
  push:
    branches:
      - main  # se ejecuta cuando hagas merge/push a main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/infrastructure/frontend/porfolioproject
            chmod +x deploy.sh
            ./deploy.sh